<ion-menu contentId="page-content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ "menu.title" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home" routerDirection="root">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>{{ "menu.home" | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/countryCap" routerDirection="root">
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-label>{{ "menu.byCap" | translate }}</ion-label>
      </ion-item>
      <ion-item routerLink="/byName" routerDirection="root">
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-label>{{ "menu.byName" | translate }} </ion-label>
      </ion-item>
      <ion-item routerLink="/byRegion" routerDirection="root">
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-label>{{ "menu.byReg" | translate }} </ion-label>
      </ion-item>
      <ion-item routerLink="/about" routerDirection="root">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>{{ "menu.about" | translate }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>