<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="toolbar">
      <ion-title>Perfil</ion-title>
      <ion-button (click)="logout()">Log out</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="user">
  <div class="main-data">
    <ion-avatar>
      <img [src]="user.picture" />
    </ion-avatar>
    <div>
      <h1>{{ user.name }}</h1>
      <h3>{{ user.email }}</h3>
    </div>
  </div>
  
  <div>
    <ion-list>
      <ion-item (click)="toggleFavorites()" class="toggle-btn">
        <h2>Favoritos</h2>
        <ion-icon [name]="isFavoritesOpen ? 'chevron-up' : 'chevron-down'" slot="end"></ion-icon>
      </ion-item>
      <ion-list *ngIf="isFavoritesOpen">
        <ion-item button *ngFor="let country of favorites" class="country-item" [routerLink]="['/country', country.name.common]">
          <ion-avatar class="country-flag">
            <img [src]="country.flags.svg" />
          </ion-avatar>
          <div class="country-data">
            <h4>{{ country.name.common }}</h4> 
            <label>Capital: {{ country.capital }}</label>
          </div>
        </ion-item>
      </ion-list>
    </ion-list>
  </div>
  
</ion-content>
