.main-data {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    gap: 20px;
    align-items: center;
}

.toolbar {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}