<app-sidemenu></app-sidemenu>

<ion-header [translucent]="true">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="toolbar">
      <ion-title style="text-align: center;">{{ "byReg.title" | translate }}</ion-title>
      <app-auth-btn></app-auth-btn>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="page-content" [fullscreen]="true">
  <ion-item>
    <ion-label>{{ "byReg.selReg" | translate }}</ion-label>
    <ion-select [(ngModel)]="selectedRegion" (ionChange)="onSearch()">
      <ion-select-option value="Africa">{{ "byReg.africa" | translate }}</ion-select-option>
      <ion-select-option value="Americas">{{ "byReg.america" | translate }}</ion-select-option>
      <ion-select-option value="Oceania">{{ "byReg.oceania" | translate }}</ion-select-option>
      <ion-select-option value="Asia">{{ "byReg.asia" | translate }}</ion-select-option>
      <ion-select-option value="Europe">{{ "byReg.europe" | translate }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list *ngIf="countries.length > 0">
    <ion-item button *ngFor="let country of countries" [routerLink]="['/country', country.name.common]">
      <ion-label>{{ country.name.common }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
</ion-content>
