<ion-menu contentId="by-region-content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home" routerDirection="root">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item routerLink="/countryCap" routerDirection="root">
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-label>Por Capital</ion-label>
      </ion-item>
      <ion-item routerLink="/byName" routerDirection="root">
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-label>Por Nombre</ion-label>
      </ion-item>
      <ion-item routerLink="/by-region" routerDirection="root">
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-label>Por Región</ion-label>
      </ion-item>
      <ion-item routerLink="/about" routerDirection="root">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>Acerca de</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="toolbar">
      <ion-title style="text-align: center;">Buscar por Región</ion-title>
      <app-auth-btn></app-auth-btn>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="by-region-content" [fullscreen]="true">
  <ion-item>
    <ion-label>Seleccionar región</ion-label>
    <ion-select [(ngModel)]="selectedRegion" (ionChange)="onSearch()">
      <ion-select-option value="Africa">Africa</ion-select-option>
      <ion-select-option value="Americas">America</ion-select-option>
      <ion-select-option value="Oceania">Oceania</ion-select-option>
      <ion-select-option value="Asia">Asia</ion-select-option>
      <ion-select-option value="Europe">Europa</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list *ngIf="countries.length > 0">
    <ion-item button *ngFor="let country of countries" [routerLink]="['/country', country.name.common]">
      <ion-label>{{ country.name.common }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
</ion-content>
