<app-sidemenu></app-sidemenu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="toolbar">
      <ion-title>{{ "home.title" | translate }}</ion-title>
      <app-auth-btn></app-auth-btn>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="page-content">
  <h1>{{ "home.welcome" | translate }}</h1>
  <p>{{ "home.comment" | translate }}</p>
  <label>{{ "home.selLang" | translate }}</label>
  <ion-select [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage()" style="background-color: rgb(46, 46, 46);">
    <ion-select-option value="en">English</ion-select-option>
    <ion-select-option value="es">Español</ion-select-option>
  </ion-select>
</ion-content>

