<ion-menu contentId="by-capital-content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home" routerDirection="root">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item routerLink="/countryCap" routerDirection="root">
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-label>Por Capital</ion-label>
      </ion-item>
      <ion-item routerLink="/byName" routerDirection="root">
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-label>Por Nombre</ion-label>
      </ion-item>
      <ion-item routerLink="/byRegion" routerDirection="root">
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-label>Por Region</ion-label>
      </ion-item>
      <ion-item routerLink="/about" routerDirection="root">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        <ion-label>Acerca de</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Buscar por Capital</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="by-capital-content" [fullscreen]="true">
  <ion-item class="search-bar">
    <ion-input [(ngModel)]="searchTerm" (ionInput)="onSearch()" placeholder="Buscar"></ion-input>
  </ion-item>

  <ion-list>
    <ion-item button *ngFor="let country of displayedCountries" [routerLink]="['/country', country.name.common]">
      <ion-label>
        {{ country.name.common }} ({{ country.capital }})
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
