<app-sidemenu></app-sidemenu>

<ion-header [translucent]="true">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="toolbar">
      <ion-title style="text-align: center;">{{ "byName.title" | translate }}</ion-title>
      <app-auth-btn></app-auth-btn>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="page-content" [fullscreen]="true">
  <ion-item class="search-bar">
    <ion-input [(ngModel)]="searchTerm" (ionInput)="onSearch()" placeholder="{{ 'byName.search' | translate }}"></ion-input>
  </ion-item>

  <ion-list>
    <ion-item button *ngFor="let country of displayedCountries" [routerLink]="['/country', country.name.common]">
      <ion-label>
        {{ country.name.common }} ({{ country.capital }})
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
